In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
#Step 5. What is the number of observations in the dataset?
chipo.shape

# Solution 2
chipo.info() # entries <= 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
#Step 7. Print the name of all the columns.
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
#Step 8. How is the dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
#Step 9. Which was the most-ordered item?
c = chipo.groupby('item_name', as_index=False).sum('quantity')  # VIP as_index很重要
c = c.sort_values(by='quantity', ascending=False) # pandas 排序 用 sort_values
most_ordered_item = c.iloc[0]
print(most_ordered_item)

item_name    Chicken Bowl
order_id           713926
quantity              761
Name: 17, dtype: object

In [16]:
#Step 12. How many different item_name are in this dataset?
chipo['item_name'].nunique()

50

In [ ]:
#most frequent item_name
c = chipo.groupby('item_name', as_index=False)['order_id'].sum()
c = c.sort_values(by = 'order_id', ascending=False)
c.iloc[0][1]

713926

In [23]:
#Step 17. What is the mean of price?
# round(chipo.item_price.mean())

chipo['item_price'] = chipo['item_price'].apply(lambda x: x.replace('$',''))
chipo['item_price'] = chipo['item_price'].astype(float)
chipo['item_price'].mean()

7.464335785374297

In [25]:
#Step 13.a. Check the item price type
type(chipo['item_price'][0])

numpy.float64

In [ ]:
#Step 13.b. Create a lambda function and change the type of item price

dtype('float64')

In [ ]:
#Step 14. How much was the revenue for the period in the dataset?
chipo['revenue'] = chipo['item_price'] * chipo['quantity']
chipo['revenue'].sum()

39237.02

In [ ]:
#Step 15. How many orders were made in the period?
chipo['order_id'].nunique()

1834

In [33]:
#Step 16. What is the average revenue amount per order?
# Solution 1
chipo.groupby('order_id')['revenue'].sum().mean()

21.39423118865867

In [28]:
#Step 8. What is the name of 5th column?
chipo.columns[4]

'item_price'

In [35]:
#Step 4. How many products cost more than $10.00?
# clean the item_price column and transform it in a float


# chipo_filtered
c = chipo[chipo['item_price']>10]
c['item_name'].nunique()

31

In [ ]:

# select only the products with quantity equals to 1

In [ ]:
# Step 5. What is the price of each item?
# print a data frame with only two columns item_name and item_price
# delete the duplicates in item_name and quantity
# chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])


# select only the products with quantity equals to 1


# select only the item_name and item_price columns


# sort the values from the most to less expensive

In [ ]:
# Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
# Step 8. How many times was a Veggie Salad Bowl ordered?

In [38]:
# Step 9. How many times did someone order more than one Canned Soda?
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
chipo_drink_steak_bowl.shape

(20, 6)