✅ Use Python lists when:
	•	You need flexibility (different data types)
	•	Performance isn’t critical
	•	You’re working with small datasets

✅ Use NumPy arrays when:
	•	You need fast, efficient numerical computations
	•	You’re working with large datasets
	•	You want built-in mathematical operations (linear algebra, statistics, etc.)

In [ ]:
lst = [1, 2, 3, 4]
lst_squared = [x ** 2 for x in lst]  # Requires list comprehension
print(lst_squared)  # [1, 4, 9, 16]

In [2]:
import numpy as np
arr = np.array([1, 2, 3, 4])
arr_squared = arr ** 2  # Vectorized operation
print(arr_squared)  # [ 1  4  9 16]

[ 1  4  9 16]

In [ ]:
np.arange(n_samples) #generate a list from 0 to len(sample)

In [ ]:
# The function np.full() creates a NumPy array filled with a specified value.
# np.full(shape, fill_value, dtype=None)

arr = np.full((3, 4), 99)  # 3 rows, 4 columns, all values 99
print(arr)

arr = np.full(5, 7)  # Creates an array of size 5 filled with 7
print(arr)

In [4]:
y_true = np.array([1, 0, 1, 1, 0, 1])
y_true.mean()
y_true.shape

(6,)

In [ ]:
# 注意axis的问题
def get_centroid(points):
    points = np.array(points)
    res = points.mean(axis=0)   # mean for each column (dimension)
    return list(res)

In [ ]:
import numpy as np

numbers = [10, 20, 30, 40, 50]
mean = np.mean(numbers)
print(mean)  # Output: 30.0

In [2]:
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4]
squared_numbers = list(map(square, numbers))  # Convert map object to list

print(squared_numbers)  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

In [2]:
numbers = [1, 2, 3, 4]
max(numbers)

4

In [1]:
import pandas as pd
import numpy as np

# Example DataFrame
df = pd.DataFrame({
    'existing_col': [0, 1, 2, 3, 0]
})

# Create a new column based on the condition
df['new_col'] = np.where(df['existing_col'] > 1, 100, 0)

print(df)

   existing_col  new_col
0             0        0
1             1        0
2             2      100
3             3      100
4             0        0

In [6]:
student_data = [
    [1, 15],
    [2, 11],
    [3, 11],
    [4, 20]
]

df = pd.DataFrame(student_data, columns=["student_id", "age"])
print(df)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [6]:
import pandas as pd

# Sample dictionary
data = {
    "student_id": [1, 2, 2, 4],
    "age": [15, 11, 11, 20]
}

# Create DataFrame
students = pd.DataFrame(data)

# Display DataFrame
print(students)

students.shape

   student_id  age
0           1   15
1           2   11
2           2   11
3           4   20

(4, 2)

In [ ]:
import numpy as np

arr = np.array([10, 25, 8, 30, 15])

max_index = np.argmax(arr)

print("Index of the maximum value:", max_index)
print("Maximum value:", arr[max_index])

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing values
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [10, 11, 12, 13]
})

# Remove rows with NaN values
df_cleaned = df.dropna()

print(df_cleaned)

In [ ]:
import pandas as pd
import numpy as np

# Create a DataFrame with missing values
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': [10, 11, 12, 13]
})

# Fill missing values with the mean of each column
df_filled = df.fillna(df.mean())

print(df_filled)

In [ ]:
arr = np.array([1, 2, np.nan, 4, np.nan])
filled_arr = np.where(np.isnan(arr), 0, arr)  # Replace NaN with 0

print(filled_arr)

In [ ]:
#Fill Missing Data
students['student_id'].fillna(0, inplace=True)

In [ ]:
data = [1, None, 3, None, 5]
filled_data = [x if x is not None else 0 for x in data]  # Replace None with 0

print(filled_data)

In [ ]:
#Drop Missing Data rows ; if id is None drop the row
students.dropna(subset=['student_id'], inplace=True)

In [10]:
students = students.astype({'age': float, 'student_id': int})

In [ ]:
import numpy as np

# Create two NumPy arrays
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

# Element-wise multiplication using *
result_1 = a * b

# Element-wise multiplication using np.multiply()
result_2 = np.multiply(a, b)

print(result_1)  # Output: [ 4 10 18]
print(result_2)  # Output: [ 4 10 18]

In [ ]:
#rename cols

students = students.rename(
        columns={
            "id": "student_id",
            "first": "first_name",
            "last": "last_name",
            "age": "age_in_years",
        }
    )

In [ ]:
pd.concat([df1, df2], axis=0)

DataFrame weather
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| city        | object |
| month       | object |
| temperature | int    |
+-------------+--------+
Write a solution to pivot the data so that each row represents temperatures for a specific month, and each city is a separate column.

The result format is in the following example.

 

Example 1:
Input:
+--------------+----------+-------------+
| city         | month    | temperature |
+--------------+----------+-------------+
| Jacksonville | January  | 13          |
| Jacksonville | February | 23          |
| Jacksonville | March    | 38          |
| Jacksonville | April    | 5           |
| Jacksonville | May      | 34          |
| ElPaso       | January  | 20          |
| ElPaso       | February | 6           |
| ElPaso       | March    | 26          |
| ElPaso       | April    | 2           |
| ElPaso       | May      | 43          |
+--------------+----------+-------------+
Output:
+----------+--------+--------------+
| month    | ElPaso | Jacksonville |
+----------+--------+--------------+
| April    | 2      | 5            |
| February | 6      | 23           |
| January  | 20     | 13           |
| March    | 26     | 38           |
| May      | 43     | 34           |
+----------+--------+--------------+

In [ ]:
ans = weather.pivot(index='month', columns='city', values='temperature')

DataFrame report
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| product     | object |
| quarter_1   | int    |
| quarter_2   | int    |
| quarter_3   | int    |
| quarter_4   | int    |
+-------------+--------+
Write a solution to reshape the data so that each row represents sales data for a product in a specific quarter.

The result format is in the following example.

 

Example 1:

Input:
+-------------+-----------+-----------+-----------+-----------+
| product     | quarter_1 | quarter_2 | quarter_3 | quarter_4 |
+-------------+-----------+-----------+-----------+-----------+
| Umbrella    | 417       | 224       | 379       | 611       |
| SleepingBag | 800       | 936       | 93        | 875       |
+-------------+-----------+-----------+-----------+-----------+
Output:
+-------------+-----------+-------+
| product     | quarter   | sales |
+-------------+-----------+-------+
| Umbrella    | quarter_1 | 417   |
| SleepingBag | quarter_1 | 800   |
| Umbrella    | quarter_2 | 224   |
| SleepingBag | quarter_2 | 936   |
| Umbrella    | quarter_3 | 379   |
| SleepingBag | quarter_3 | 93    |
| Umbrella    | quarter_4 | 611   |
| SleepingBag | quarter_4 | 875   |
+-------------+-----------+-------+
Explanation:
The DataFrame is reshaped from wide to long format. Each row represents the sales of a product in a quarter.

In [ ]:
import pandas as pd

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    report = report.melt(
        id_vars=["product"],
        value_vars=["quarter_1", "quarter_2", "quarter_3", "quarter_4"],
        var_name="quarter",
        value_name="sales",
    )
    return report

# 1323. Maximum 69 Number

You are given a positive integer num consisting only of digits 6 and 9.

Return the maximum number you can get by changing at most one digit (6 becomes 9, and 9 becomes 6).

 

Example 1:

Input: num = 9669
Output: 9969
Explanation: 
Changing the first digit results in 6669.
Changing the second digit results in 9969.
Changing the third digit results in 9699.
Changing the fourth digit results in 9666.
The maximum number is 9969.

In [ ]:
# Convert number to a list of characters
num = 9669
digits = list(str(num))

In [ ]:
for num in reversed(nums2): # 注意这个reversed list loop 的写法很有用