In [ ]:
import pandas as pd

students = {"name" : ["Tim Voss", "Nicole Johnson", "Elsa Williams", "John James", "Catherine Jones"], "age" : [19, 20, 21, 20, 23], "favorite_color" : ["red", "yellow", "green", "blue", "green"], "grade" : [91, 95, 82, 75, 93]}

students_df = pd.DataFrame(students)

In [ ]:

# Write a function named grades_colors to select only the rows where the student’s favorite color is green or red and their grade is above 90.

#注意这个写法
students_df.loc[
    (students_df['favorite_color'].isin(['green','red'])) &
    (students_df['grade']>90) ]

In [1]:
import pandas as pd

# Creating a sample DataFrame
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]
}, index=['row1', 'row2', 'row3'])

# Selecting the first row (index 0)
print(df.iloc[0])  # Output: A=10, B=40, C=70

# Selecting specific rows and columns (first two rows, first two columns)
print(df.iloc[0:2, 0:2])  # Output: A and B columns of row1 and row2

# Selecting a single value (row index 1, column index 2)
print(df.iloc[1, 2])  # Output: 80

A    10
B    40
C    70
Name: row1, dtype: int64
       A   B
row1  10  40
row2  20  50
80

In [ ]:
#select columns with index positions 1 and 3
df.iloc[:, [1, 3]]
df.iloc[:, 0:3]

#select the first row
data.iloc[0]

# 2. .loc[] (Label-based selection)

In [ ]:
# Selecting a row by its label
print(df.loc['row1'])  # Output: A=10, B=40, C=70

# Selecting a specific value using row and column labels
print(df.loc['row2', 'C'])  # Output: 80

# Selecting multiple rows and columns by labels
print(df.loc[['row1', 'row3'], ['A', 'C']])  # Output: A and C columns of row1 and row3

In [ ]:
#To drop last n rows:
df.drop(df.tail(n).index,inplace=True) # drop last n rows


data3 = data2[data2["treatment"].isin(["uu1", "uu2" ,"uu3" ,"uu4" , "uu5"])]

above_35 = titanic[titanic["Age"] > 35]


#select rows with and without NA
wenjuan3 = wenjuan1[wenjuan1['question_tags_true'].isnull()]
wenjuan2 = wenjuan1.dropna(subset=['question_tags_true'])

In [ ]:
#Get all rows that contain a specific substring
contain_values = df[df['month'].str.contains('Ju')]
#Get all rows that contain one substring OR another substring
contain_values = df[df['month'].str.contains('Ju|Ma')]

In [ ]:

df = wine_reviews[(wine_reviews['points']>=95) & (wine_reviews['price']<1000)]

Handling Missing Values:

In [ ]:
df = wine_reviews.dropna(subset=['points', 'price'])  # Remove rows with NaN in 'points' or 'price'

df = wine_reviews['price'].fillna(wine_reviews['price'].median(), inplace=True)

You’re given two dataframes: transactions and products.

The transactions dataframe contains transaction ids, product ids, and the total amount of each product sold.

The products dataframe contains product ids and prices.

Write a function to return a dataframe containing every transaction with a total value of over $100. Include the total value of the transaction as a new column in the dataframe.

In [1]:
import pandas as pd

transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}

products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}

df_transactions = pd.DataFrame(transactions)

df_products = pd.DataFrame(products)

In [3]:
df2 = df_transactions.merge(df_products, on='product_id', how='inner')
df2['total_value'] =  df2['price']*df2['amount']
df2 = df2[df2['total_value']>100]
df2

   transaction_id  product_id  amount  price  total_value
1               2         102       5   21.0        105.0
2               3         103       8   15.0        120.0
4               5         105       2   52.0        104.0